@{
    ViewBag.Title = "Please check your email to reset your password";
    Layout = null;
}
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/Content/assets/images/money_mart.png"/>
    <title>
    </title>
</head>
<body>
<p class="main-header">@ViewBag.Title. 
     <a href="/Account/Login/"> Click here to login</a>
    </p>
</body>
</html>