@{
    ViewBag.Title = "Reset password confirmation";
}

<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/Content/assets/images/money_mart.png"/>
    <title>
        @ViewBag.Title.
    </title>
</head>
<body>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", null, new { id = "loginLink" })
    </p>
</div>

</body>
</html>